.ql-container.ql-snow {
    border: 1px solid var(--color-blue);
    height: fit-content;
}

.ql-editor {
    padding: 0;
    font-size: 18px;
    color: white;
    height: calc(100% + 7px);
}

.ql-toolbar {
    display: none;
}

.ql-tooltip {
    display: none;
}